<%- include("./partials/header") %>

<div>
	<h1 style="text-align: center;"> Welcome to Airbnb! </h1>
</div>

<div class="container">
	<div class="row">
		<h3 style="position:relative; left:40px"> Find your place to stay </h3>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/apartments" method="GET" style="position:relative; left:-420px">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="City/Country" name="location">
				</div>
				<div class="form-group">
					<input class="form-control" type="date" placeholder="Check In" name="check_in">
				</div>
				<div class="form-group">
					<input class="form-control" type="date" placeholder="Check Out" name="check_out">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Number of guests"
						   name="guests" min="1" step="1">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Search</button>
				</div>
			</form>
		</div>
		<% if(currentUser && currentUser.app_role.includes("host")){ %>
			<div>
				<form action="/users/<%= currentUser._id %>/host" method="GET"
					  style="width: 20%; margin: 25px auto;">
					<button class="btn btn-lg btn-primary btn-block">My Apartments</button>
				</form>
			</div>
		<% } %>
	</div>
</div>




<%- include("./partials/footer") %>