<%- include("./partials/header") %>

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<style>
body {background-color: powderblue;}
/* h1   {color: blue;} */
/* p    {color: red;} */
</style>


<div class="container rounded" style="position: fixed; width:90%; margin: 70px 640px;">
	
<div class="row" style="text-align: center">
	<div class="col-md-4 login-form-2">
		<h3 style="font-size: 28px; padding-bottom: 25px">Login</h3>
			<!-- <div style="padding: 80px"> -->
			<form action="/login" method="POST">
				<div class="form-group">
					<!-- <input type="text" class="form-control" placeholder="Your Email *" value="" /> -->
					<input type="text" class="form-control" name="username" placeholder="Username">
				</div>
				<div class="form-group" style="padding-bottom: 20px">
					<!-- <input type="password" class="form-control" placeholder="Your Password *" value="" /> -->
					<input type="password" class="form-control" name="password" placeholder="Password">

				</div>
				<div class="form-group">
					<!-- <input type="submit" class="btnSubmit" value="Login" /> -->
					<input type="submit" class="btnSubmit" value="Login" style="font-size: 20px">

				</div>
				<div class="form-group" style="padding-bottom: 50px">
					<p>
						<strong style="color: white">Don't have an account?</strong>
					</p>
					<a href="/register" class="SignUp" style="font-size: 30px;">Sign Up!</a>
					<br>
					
					<!-- <i class="fab fa-airbnb" style="color:white; font-size: 30px" ></i> -->
				</div>

					<i class="fab fa-airbnb" style="color:white; font-size: 90px" ></i>

				
				<!-- <i class="fab fa-airbnb" style="color:white; font-size: 30px" ></i> -->

			</form>
	</div>
</div>
</div>
<!-- <div class="container" style="position: fixed" >
	<div class="row">
		<h2 style="position:relative; left:71%"> Login </h2>
		<div style="width: 30%; margin: 25px auto; position:relative; left:390px">
			<form action="/login" method="POST">
				<div class="form-group">
					<input type="text" name="username" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="password" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>
	</div>
</div> -->

<%- include("./partials/footer") %>