<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Create New Place</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/apartments/" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Name" name="apartment[name]"
						   required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Number of bedrooms"
						   name="place[bedrooms]" min="0" step="1" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Number of beds"
						   name="place[beds]" min="0" step="1" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Number of bathrooms"
						   name="place[bathrooms]" min="1" step="1" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="radio" value="Private Room"
						   id="room_type" name="place[room_type]">
					<label for="room_type">Private Room</label><br>
					<input class="form-control" type="radio" value="Shared Room"
						   id="room_type" name="place[room_type]">
					<label for="room_type">Shared Room</label><br>
					<input class="form-control" type="radio" value="Apartment"
						   id="room_type" name="place[room_type]">
					<label for="room_type">Apartment</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="linving_room" name="place[linving_room]">
					<label for="linving_room">Living Room</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Area"
						   name="place[area]" min="0.01" step="0.01" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Description"
						   name="apartment[description]" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="smoking" name="renting_rules[smoking]">
					<label for="smoking">Smoking</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="pets" name="renting_rules[pets]">
					<label for="pets">Pets</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="events" name="renting_rules[events]">
					<label for="events">Events</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Minimum number of days to rent"
						   name="renting_rules[rent_days_min]" min="1" step="1" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="wifi" name="facilities[wifi]">
					<label for="wifi">Wifi</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="air_conditioning" name="facilities[air_conditioning]">
					<label for="air_conditioning">Air Condition</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="kitchen" name="facilities[kitchen]">
					<label for="kitchen">Kitchen</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="tv" name="facilities[tv]">
					<label for="tv">TV</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="parking" name="facilities[parking]">
					<label for="parking">Parking</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="checkbox" value="True"
						   id="elevator" name="facilities[elevator]">
					<label for="elevator">Elevator</label><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Address"
						   name="location[address]" required><br>
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Neighbourhood"
						   name="location[neighbourhood]" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Means of transportation"
						   name="location[transportation]" required><br>
				</div>
				<div>
					<label for="main_image">Select main photo:</label>
					<input type="file" id="main_image" name="images" accept="images/*" required /><br>
				</div>
				<div>
					<label for="images">More photos:</label>
					<input type="file" id="images" name="images" accept="images/*" multiple />
					<p>To select multiple files, hold down the CTRL or SHIFT key while selecting.</p><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Minimum price per night"
						   name="apartment[price_min]" min="0.01" step="0.01" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Extra charge per guest"
						   name="apartment[extra_charge_per_guest]" min="0.00" step="0.01" required><br>
				</div>
				<div class="form-group">
					<label>Add availability dates:</label>
					<input class="form-control" type="date" name="apartment[availability_from]"
						   required><br>
					<input class="form-control" type="date" name="apartment[availability_to]"
						   required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Maximum number of guests"
						   name="apartment[capacity]" min="1" step="1" required><br>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<a href="/users/<%= currentUser._id %>/host">Go Back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>