<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Create New Place</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/apartments/" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Name" name="apartment[name]"
						   required><br>
				</div>

				<div class="form-group">
					<input class="form-control" type="number" placeholder="Number of bedrooms"
						   name="place[bedrooms]" min="0" step="1" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Number of beds"
						   name="place[beds]" min="0" step="1" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="Number of bathrooms"
						   name="place[bathrooms]" min="0" step="1" required><br>
				</div>

				<div class="form-group">
					<label for="room_type">Private Room</label>
					<input type="radio" value="Private Room" id="room_type" name="place[room_type]"
						   style="position: relative; left: 10px">
				</div>

				<div class="form-group">
					<label for="room_type">Shared Room</label>
					<input type="radio" value="Shared Room" id="room_type" name="place[room_type]"
						   style="position: relative; left: 10px">
				</div>

				<div class="form-group">
					<label for="room_type">Apartment</label>
					<input type="radio" value="Apartment" id="room_type" name="place[room_type]"
						   style="position: relative; left: 30px">
				</div>

				<div class="form-group">
					<label for="linving_room">Living Room</label>
					<input type="checkbox" value="True" id="linving_room" name="place[linving_room]"
						   style="position: relative; left: 13px">
				</div>

				<div class="form-group">
					<input class="form-control" type="number" placeholder="Area"
						   name="place[area]" min="0.01" step="0.01" required><br>
				</div>

				<div class="form-group">
					<input class="form-control" type="text" placeholder="Description"
						   name="apartment[description]" required><br>
				</div>

				<div class="form-group">
					<label for="smoking">Smoking</label>
					<input type="checkbox" value="True"	id="smoking" name="renting_rules[smoking]"
						   style="position: relative; left: 10px"/>
				</div>

				<div class="form-group">
					<label for="pets">Pets</label>
					<input type="checkbox" value="True" id="pets" name="renting_rules[pets]"
						   style="position: relative; left: 38px"/>
				</div>

				<div class="form-group">
					<label for="events">Events</label>
					<input type="checkbox" value="True" id="events" name="renting_rules[events]"
						   style="position: relative; left: 23px">
				</div>

				<div class="form-group">
					<input class="form-control" type="number" placeholder="Minimum number of days to rent"
						   name="renting_rules[rent_days_min]" min="1" step="1" required><br>
				</div>
				<div class="form-group">
					<label for="wifi">Wifi</label>
					<input type="checkbox" value="True" id="wifi" name="facilities[wifi]"
						   style="position: relative; left: 70px">
				</div>

				<div class="form-group">
					<label for="air_conditioning">Air Condition</label>
					<input type="checkbox" value="True"	id="air_conditioning"
						   name="facilities[air_conditioning]" style="position: relative; left: 8px">
				</div>

				<div class="form-group">
					<label for="kitchen">Kitchen</label>
					<input type="checkbox" value="True"	id="kitchen" name="facilities[kitchen]"
						   style="position: relative; left: 44px">
				</div>

				<div class="form-group">
					<label for="tv">TV</label>
					<input type="checkbox" value="True" id="tv" name="facilities[tv]"
						   style="position: relative; left: 75px">
				</div>

				<div class="form-group">
					<label for="parking">Parking</label>
					<input type="checkbox" value="True"	id="parking" name="facilities[parking]"
						   style="position: relative; left: 43px">
				</div>

				<div class="form-group">
					<label for="elevator">Elevator</label>
					<input type="checkbox" value="True"	id="elevator" name="facilities[elevator]"
						   style="position: relative; left: 40px">
				</div>

				<div class="form-group">
					<input class="form-control" type="text" placeholder="Address"
						   name="location[address]" required><br>
				</div>
				
				 <!-- <div class="dropdown">
        			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        			<span class="caret"></span></button>
        			<ul class="dropdown-menu">
          				<li><a href="#">HTML</a></li>
          				<li><a href="#">CSS</a></li>
          				<li><a href="#">JavaScript</a></li>
        			</ul>
      			</div> -->
				
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Neighbourhood"
						   name="location[neighbourhood]" required><br>
				</div>

				<div class="form-group">
					<input class="form-control" type="text" placeholder="Means of transportation"
						   name="location[transportation]" required><br>
				</div>

				<div>
					<label for="main_image">Select main photo:</label>
					<input type="file" id="main_image" name="images" accept="images/*" required /><br>
				</div>

				<div>
					<label for="images">More photos:</label>
					<input type="file" id="images" name="images" accept="images/*" multiple />
					<p>To select multiple files, hold down the CTRL or SHIFT key while selecting.</p><br>
				</div>

				<div class="form-group">
					<input class="form-control" type="number" placeholder="Minimum price per night"
						   name="apartment[price_min]" min="0.01" step="0.01" required><br>
				</div>

				<div class="form-group">
					<input class="form-control" type="number" placeholder="Extra charge per guest"
						   name="apartment[extra_charge_per_guest]" min="0.00" step="0.01" required><br>
				</div>

				<div class="form-group">
					<label for="avail_from">Available from:</label>
					<input class="form-control" type="date" name="apartment[availability_from]"
						   id="avail_from" required><br>
					<label for="avail_to">Available until:</label>
					<input class="form-control" type="date" name="apartment[availability_to]"
						   id="avail_to" required><br>
				</div>

				<div class="form-group">
					<input class="form-control" type="number" placeholder="Maximum number of guests"
						   name="apartment[capacity]" min="1" step="1" required><br>
				</div>

				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<a href="/users/<%= currentUser._id %>/host">Go Back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>